@model IEnumerable<BackendExercise.Models.InvoiceModel>

@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Invoices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (!item.Transaction.Status.Equals("Paid")) {
                    @Html.Raw("| ") @Html.ActionLink("Pay", "Pay", new { id = item.Id });
                }
            </td>
        </tr>
}
    </tbody>
</table>
